* {
  box-sizing: border-box;
}

:root {
  --header: #f1f1f1;
  --button: #ed6663;
  --button-color: #ffffff;
  --bg: #43658b;
}

body, html { 
  margin: 0; 
  padding: 0;
  font-size: 18px;
  font-family: 'Helvetica', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: var(--bg);
  padding: 2rem;
}

#display {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: min(10vw, 5rem);
  color: var(--header);
  opacity: 0;
  transform: translateY(-10%);
  transition: all 1s ease;
}

.show {
  opacity: 1;
}

@media (min-width: 320px) {
  .button-group {
    display: flex;
    flex-direction: column;
  }

  .button-group > * + * {
    margin: 1rem 0 0 0;
  }
}

@media (min-width: 600px) {
  .button-group {
    display: flex;
    flex-flow: row nowrap;
  }

  .button-group > * + * {
    margin: 0 0 0 1rem;
  }
}


.button {
  flex-grow: 1;
  flex-shrink: 0;
  border: none;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  background: var(--button);
  cursor: pointer;
  color: var(--button-color);
  min-height: 50px;
  opacity: 0;
  transition: opacity 1s ease;
}

.button:active, .button:focus {
  border: none;
  outline: none;
}

.button:hover {
  opacity: 0.7;
}

.emoji {
  --delay: 0.1s;
  --scale: 1;
  --x: 0;
  font-size: 50px;
  position: absolute;
  transform: translateZ(0) scale(var(--scale));
  top: 0;
  left: var(--x);
}

.animate-emoji {
  animation: emoji 4s ease var(--delay) alternate infinite;
}

@keyframes emoji {
  100% {
    transform: translateY(100vh) translateZ(0) scale(var(--scale));
  }
}